<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
</head>
<body>
    <h3>Profile form</h3>
    <form action="/add" method="POST">
        <label>First Name</label>
        <input type="text" name="first_name" place_holder="first_name...">
        <label>Last Name</label>
        <input type="text" name="last_name" place_holder="'last_name...">
        <label>Age</label>
        <input type="number" name="age" place_holder="age...">
        <button type="submit">Add</button>
    </form>
</body>
</html>